@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formulario {
  margin: 25px 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.container-form{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info{
  width: auto;

}

.info h2{
  color: #1b7cd6;
}
.info p {
  color: #adadc9;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  max-width: 400px;
}
.info img{
  width: -webkit-fill-available;
}
.span-login{
  color: #1b7cd6;
}
.message-error{
  color: #d6661b;
  font-size: 28px;
  font-weight: 500;
}
.message-login{
  font-size: 28px;
}

.message-login span{
  color: #1b7cd6;
  font-weight: 600;
}
  
@media screen and (min-width: 700px ) {
   .container-form{
    display: flex;
    flex-direction: row;
   }
   .message-error{
    font-size: 48px;
   }
   
  }